{% extends 'home/base.html' %}
{% load static %}
{% block content %}

    <div class=" my-3">

    <div class="jumbotron jumbotron-fluid">
  <div class="container px-4">
    <h1 class="display-4">We are here for You</h1>
    <p class="lead">ASSURING | ADVANCED | ACCESSIBLE . We have an Expert for your your every Healthcare need.</p>
  </div>
</div>
</div>

<div class="text-center my-3">
    <h1 class=" mb-5 text-center"> MEET OUR DOCTORS </h1>
    <div class="card-deck">
        <div class="card">
            <img src="{% static 'home/d3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Praveen Pandey</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Oncology</small>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'home/d2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Priyanshu Singh</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Neurology</small>
             </div>
        </div>
        <div class="card">
            <img src="{% static 'home/d1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Himanshu Singh</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Cardiology</small>
            </div>
         </div>
        <div class="card">
            <img src="{% static 'home/d4.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Virendra Pandey</h5>
            </div>
            <div class="card-footer">
                 <small class="text-muted">Emergency</small>
            </div>
        </div>
    </div>
 </div> 

<h1 class=" mt-5 text-center">CENTERS OR EXCELLENCE</h1> 
<h5 class="mt-2 mb-5 text-center">Combining the best specialists and equipment to provide you nothing short of the best in healthcare  </h5> 
    <div class="row my-3">
  <div class="col-sm-3">
    <div class="card card text-white bg-secondary">
      <div class="card-body">
        <h4 class="card-title text-center">Diabetes</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-white bg-secondary">
      <div class="card-body">
        <h4 class="card-title text-center">Heart</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-white bg-secondary">
      <div class="card-body">
        <h4 class="card-title text-center">Emergency</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-white bg-secondary">
      <div class="card-body">
        <h4 class="card-title text-center">Spine</h4>
      </div>
    </div>
  </div>
</div>

 <div class="row my-3">
  <div class="col-sm-3">
    <div class="card card text-white bg-secondary">
      <div class="card-body">
        <h4 class="card-title text-center">Cancer Care</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-white bg-secondary">
      <div class="card-body">
        <h4 class="card-title text-center">Neurosciences</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-white bg-secondary">
      <div class="card-body">
        <h4 class="card-title text-center">Transplants</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-white bg-secondary">
      <div class="card-body">
        <h4 class="card-title text-center">Cosmetic</h4>
      </div>
    </div>
  </div>
</div>

<h1 class=" my-5 text-center">NEWS & MEDIA</h1> 

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Newsletter</h4>
        <p class="card-text">Subscribe to our monthly newsletter</p>
        <a href="#" class="btn btn-secondary">Sign up</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">News</h4>
        <p class="card-text">Check out the news from Family Care</p>
        <a href="#" class="btn btn-secondary">Search</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Media</h4>
        <p class="card-text">Watch the latest Media from Family Care</p>
        <a href="#" class="btn btn-secondary">Search</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}